body {
    padding: 20px;

    height: 3000px;

    font-family: Arial;
}

#back {
    position: fixed;
    left: 32.5%;
    top: 90%;
    width: 30%;
    height: 5px;
    padding: 20px;
    border-radius: 0;
    text-align: center;
    line-height: 5px;
    font-size: 150%;
    box-shadow: 0 0 5px 0 black;
    transition: 0.5s all;
    color: white;

    animation: fadein 1s;
}
    #back:hover {
        box-shadow: 0 0 35px 0 black;
        border-radius: 50px;
        color: #999;
    }

h1 {
    color: cornflowerblue;
    font-size: 270%;
    margin-left: 2%;
    animation: fadein 1.5s;
}
@keyframes fadein
{
    from
    {
        opacity: 0;
    }
    to
    {
        opacity: 1;
    }
}

hr {
    border: none;
    background-color: cornflowerblue;
    height: 5px;
    margin-top: -1%;
    margin-bottom: 3%;
    animation: spreadout 1s;
}
@keyframes spreadout
{
    from
    {
        width: 0;
    }
    to
    {
        width: 100%;
    }
}

#wrap {
    position: fixed;
    width: 70%;
    left: 15%;
    padding: 20px;

    animation: fadein 0.5s;
}
#list-container ul {
    width: 100%;
    list-style: none;
}

#list-container li {
    background-color: #d1e2ff;
    color: cornflowerblue;
    width: 200px;
    height: 50px;
    font-size: 140%;
    text-align: center;
    line-height: 50px;
    margin-top: 10px;
    transition: all 0.5s, margin-left 0.3s;
}

    #list-container li:hover {
        border-radius: 10px 0 10px 0;
        box-shadow: inset -200px 0 0 0 cornflowerblue;
        color: white;
        font-size: 145%;
        margin-left: 8%;
    }

.hist-list {
    animation: show-list 0.5s;
}

    .hist-list li {
        list-style: radial-gradient(white, cornflowerblue, white);
        margin-top: 20px;
    }

    .hist-list content {
        color: cornflowerblue;
        font-size: 250%;
        font-weight: bold;
        margin-left: 1%;
    }

    .hist-list a {
        text-decoration: none;
        color: rgb(0, 130, 82);
        transition: font-size 0.3s, color 0.5s;
    }

        .hist-list a:hover {
            color: rgb(0, 255, 161);
            font-size: 130%;
        }

@keyframes show-list {
    from {
        margin-left: -10%;
        opacity: 0;
    }

    to {
        margin-left: 0;
        opacity: 1;
    }
}

#content-container {
    background-color: #e0ecff;
    width: 1000px;
    height: 550px;
}

#big-image
{
    width: 1000px;
}